<div id="<%= dom_id custom_taxon %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Is private:</strong>
    <%= custom_taxon.is_private %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= custom_taxon.user_id %>
  </p>

</div>
