<div
  data-controller="leaflet-selector"
  data-leaflet-selector-latitude-value="<%= collect_point.location&.latitude || 35.681236 %>"
  data-leaflet-selector-longitude-value="<%= collect_point.location&.longitude || 139.767125 %>"
  data-leaflet-selector-zoom-value="13"
>
  <p class="font-bold">地点入力補助マップ</p>
  <p class="text-sm text-gray-700 mb-2">
    地図をクリックすると地点情報が表示されます。
    <br>
    各値はコピーまたはフォームに反映できます。
    <br>
    地図の検索結果が一意に絞られてからエンターキーを押してください。候補のクリックでは地図のピンが動かないことがあります。
  </p>

  <div data-leaflet-selector-target="map" class="h-[30vh] rounded shadow mb-4"></div>

  <p class="text-sm text-gray-700 mb-2">
    緯度・経度を除き、日本国内の地点のみ情報を取得できます。
    <br>
    ローマ字地名については、郡と町名の分割に対応できていません。
  </p>

  <div id="location-info-display" class="text-sm space-y-4 p-3 pt-4 border border-gray-300 rounded">
    <div>
      <strong>緯度</strong>: <span id="display-latitude">-</span>
      <div class="space-x-2 space-y-2">
        <button type="button" data-action="leaflet-selector#copy" data-value="" class="px-2 py-1 text-xs rounded bg-blue-500 text-white hover:bg-blue-600 cursor-pointer">コピー</button>
        <button type="button" data-action="leaflet-selector#apply" data-target="latitude" data-value="" class="px-2 py-1 text-xs rounded bg-green-500 text-white hover:bg-green-600 cursor-pointer">反映</button>
      </div>
    </div>

    <div>
      <strong>経度</strong>: <span id="display-longitude">-</span>
      <div class="space-x-2 space-y-2">
        <button type="button" data-action="leaflet-selector#copy" data-value="" class="px-2 py-1 text-xs rounded bg-blue-500 text-white hover:bg-blue-600 cursor-pointer">コピー</button>
        <button type="button" data-action="leaflet-selector#apply" data-target="longitude" data-value="" class="px-2 py-1 text-xs rounded bg-green-500 text-white hover:bg-green-600 cursor-pointer">反映</button>
      </div>
    </div>

    <div>
      <strong>標高</strong>: <span id="display-elevation">-</span> m
      <div class="space-x-2 space-y-2">
        <button type="button" data-action="leaflet-selector#copy" data-value="" class="px-2 py-1 text-xs rounded bg-blue-500 text-white hover:bg-blue-600 cursor-pointer">コピー</button>
        <button type="button" data-action="leaflet-selector#apply" data-target="minimum_elevation" data-value="" class="px-2 py-1 text-xs rounded bg-green-500 text-white hover:bg-green-600 cursor-pointer">最低標高に反映</button>
        <button type="button" data-action="leaflet-selector#apply" data-target="maximum_elevation" data-value="" class="px-2 py-1 text-xs rounded bg-green-500 text-white hover:bg-green-600 cursor-pointer">最高標高に反映</button>
      </div>
    </div>

    <div>
      <strong>日本語地名</strong>: <span id="display-place-name">-</span>
      <div class="space-x-2 space-y-2">
        <button type="button" data-action="leaflet-selector#copy" data-value="" class="px-2 py-1 text-xs rounded bg-blue-500 text-white hover:bg-blue-600 cursor-pointer">コピー</button>
        <button type="button" data-action="leaflet-selector#apply" data-target="japanese_place_name" data-value="" class="px-2 py-1 text-xs rounded bg-green-500 text-white hover:bg-green-600 cursor-pointer">日本語地名に反映</button>
        <button type="button" data-action="leaflet-selector#apply" data-target="japanese_place_name_detail" data-value="" class="px-2 py-1 text-xs rounded bg-green-500 text-white hover:bg-green-600 cursor-pointer">日本語地名詳細に反映</button>
      </div>
    </div>

    <div>
      <strong>市町村名の読みがな</strong>: <span id="display-city-kana">-</span>
    </div>

    <div>
      <strong>地名詳細の読みがな</strong>: <span id="display-detail-kana">-</span>
    </div>

    <div>
      <strong>ローマ字地名</strong>: <span id="display-romaji">-</span>
      <div class="space-x-2 space-y-2">
        <button type="button" data-action="leaflet-selector#copy" data-value="" class="px-2 py-1 text-xs rounded bg-blue-500 text-white hover:bg-blue-600 cursor-pointer">コピー</button>
        <button type="button" data-action="leaflet-selector#apply" data-target="municipality" data-value="" class="px-2 py-1 text-xs rounded bg-green-500 text-white hover:bg-green-600 cursor-pointer">反映</button>
      </div>
    </div>
  </div>
</div>
