<%= turbo_frame_tag "content-zone" do %>
  <div class="px-4 md:px-10 lg:px-20 py-4 max-w-screen-xl mx-auto">
    <h1 class="font-bold text-lg">コレクションの作成</h1>

    <%= render "form", collection_setting: @collection_setting, create_mode: true %>

    <%= link_to "一覧に戻る", collection_settings_url_with_ranmemory, class: "mt-2 ml-2 normal-button px-2 py-1 inline-block", data: { turbo_frame: "content-zone", turbo_action: "advance" }
    %>
  </div>
<% end %>
