@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.img-limited {
  max-height: 300px;
  display: block;
  margin-top: 10px;
}

.hidden {
  display: none;
}

/* サムネイル画像のスタイル */
.thumbnail {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

/* 拡大画像の制限 */
img.max-w-screen-md {
  max-width: 90%;
  max-height: 90%;
}

.disabled {
  background-color: #e5e7eb; /* グレー */
  cursor: not-allowed;
}

.text-red-500 {
  color: #f87171; /* 赤 */
}

.denger {
  @apply bg-red-600 text-white
}
