@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

body {
  @apply bg-gradient-to-b from-white to-[#CCE9EE] bg-fixed;
}

.row-hover {
  @apply hover:bg-[#dee9ec]
}

.img-limited {
  max-height: 200px;
  max-width: 200px;
  margin-top: 10px;
  object-fit: cover;
}

.hidden {
  display: none;
}

/* サムネイル画像のスタイル */
.thumbnail {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

/* 拡大画像の制限 */
img.max-w-screen-md {
  max-width: 90%;
  max-height: 90%;
}

.disabled {
  background-color: #e5e7eb; /* グレー */
  cursor: not-allowed;
}

.text-red-500 {
  color: #f87171; /* 赤 */
}

.denger {
  @apply bg-[#a22041] text-white py-2 px-4 border border-gray-400 rounded shadow
}

.column-names {
}

.normal-button {
  @apply py-2 px-4 border border-gray-400 rounded shadow
}

.submit-button {
  @apply bg-[#164a84] py-2 px-4 border border-gray-400 rounded shadow
}

#flash-message {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  transition: opacity 0.3s ease;
}

@layer components {
  /* サイドバーの開閉 */
  #sidebar {
    @apply overflow-hidden;
  }

  /* サイドバーが閉じている時 */
  .sidebar-closed {
    @apply w-12; /* 幅を小さくして絵文字を表示 (48px) */
  }

  /* サイドバーが開いている時 */
  .sidebar-open {
    @apply w-56; /* 幅を広げてコンテンツを表示 (224px) */
  }

  /* 絵文字の表示調整 */
  .emoji {
    @apply block text-center m-0;
    @apply cursor-pointer;
    position: relative;
  }

  /* サイドバーが開いている時のテキスト表示 */
  .sidebar-open .text-link {
    @apply block;
  }

  .sidebar-closed .text-link {
    @apply hidden;
  }

  /* メインコンテンツの調整 */
  #main-content {
    @apply ml-12;
  }

  .sidebar-open + #main-content {
    @apply ml-56;
  }
}

.tooltip {
  white-space: nowrap;
  pointer-events: none;
}

.sort-icon {
  font-size: 14px;
  color: #888;
}

.sort-icon.asc {
  font-size: 12px;
  color: #4CAF50; /* 緑色 */
}

.sort-icon.desc {
  font-size: 12px;
  color: #f44336; /* 赤色 */
}

th .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

th .flex span {
  margin-left: 0.5rem; /* アイコンの左マージンを調整 */
}
